body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

form {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: white;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

form input[type="submit"],
form input[type="button"],
form input[type="reset"] {
    width: 100px;
    padding:8px;
    margin: 4px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: blue;
}

input[name="action"][value="Registrieren"] {
    background-color: darkcyan;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 80%;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + label::before {
    display: block;
}

label {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 5px;
}

.password-field {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.name-field {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.windowpopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    opacity: 1;
}

.windowpopup.faded-out {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
}

